@font-face {
	font-family: 'RubikBubbles';
	src: url('/assets/fonts/RubikBubbles-Regular.ttf') format('truetype');
}
 
@font-face {
	font-family: 'Rowdies';
	src: url('/assets/fonts/Rowdies-Regular.ttf') format('truetype');
}


header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
	cursor: default;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #ffff;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( 135deg, #6883BA 10%, #CAF0F8 100%); /*Color del header*/
	
}

h1 {
	font-family: 'RubikBubbles', sans-serif;
	font-size: 80px;
}

h3{
	font-family: 'Rowdies', sans-serif;
	margin-bottom: 15px;
    color: white;
}
