@font-face {
	font-family: 'RubikBubbles';
	src: url('/assets/fonts/RubikBubbles-Regular.ttf') format('truetype');
}
 
@font-face {
	font-family: 'Rowdies';
	src: url('/assets/fonts/Rowdies-Regular.ttf') format('truetype');
}

.wels{
    margin: 120px auto;
    display: flex;
    justify-content: center;
}

.wels h1{
    margin-top: 10px;
    font-family: 'Rowdies', sans-serif;
    font-size: 45px;
    color: #5390d9;
}

.intro{
	display: flex;
    justify-content: center;
}
.intro p{
	margin-top: 10px;
}

.intro a{
	text-decoration: none;
	cursor: pointer;
}
.intro button{
    margin: 5px auto;
}

.error{
    font-size: 12px;
    color: red;
    margin-top: -15px;
    padding-left: 2px;
}
.mat-mdc-form-field{
    width: 100% !important;
}